<script type="text/javascript">
    $(function() {
    // Below is the name of the textfield that will be autocomplete
      function split( val ) {
        return val.split( /,\s*/ );
      }
      function extractLast( term ) {
        return split( term ).pop();
      }
      
      $('#search_student').autocomplete({
        //This shows the min length of charcters that must be typed before the autocomplete looks for a match.
        minLength: 2,
        position: { my : "left bottom", at: "left top" },
        //This is the source of the auocomplete suggestions. In this case a list of names from the people controller, in JSON format.
        source: function( request, response ) {
        $.getJSON('<%= students_path(:json) %>', {
          term: extractLast( request.term )
          }, response );
        },
        
        search: function() {
          // custom minLength
          var term = extractLast( this.value );
          if ( term.length < 2 ) {
            return false;
          }
        },
        //This updates the textfield when you move the updown the suggestions list, with your keyboard.
        //In our case it will reflect the same value that you see in the
        //suggestions which is the student.name.
        focus: function() {
          return false;
        },
        //Once a value in the drop down list is selected, do the following:
        select: function(event, ui) {
          var terms = split( this.value );
          terms.pop();
          // add the selected item
          terms.push( ui.item.name );
          // add placeholder to get the comma-and-space at the end
          terms.push( "" );
          this.value = terms.join( ", " );
          return false;
        }
      }).data("uiAutocomplete")._renderItem = function( ul, item ) {
            return $( "<li></li>" )
            .data( "item.autocomplete", item )
              // For now which just want to show the person.given_name in the list.
                .append( "<a>" + item.name + "</a>" )
                .appendTo( ul );
        };
  });
</script>
<style>
  #search_student
  {
    height:200px;
    width: 300px;
  }
</style>
  


<h1><%= @session.title %></h1>
<p><%= @session.description %></p>
<p><%= @session.date%></p>
<p><%= @session.kind%></p>
<%= link_to "<< Back to Sessions List", sessions_path %>
<h1>Students who attended this event</h1>
<ul id="students">
  <% @session.students.each do |student| %>
    <li>
      <%= link_to student.title, students_path(student) %>
    </li>
  <% end %>
</ul>
<div>
  <h1>Add students to session</h1>
  <div id = "selected_users">
    
  </div>
  <%= form_for [@session] do |f| %>
    <p>Select which person you want to link:<br /> 
      <!-- This is the textfield that will autocomplete. What is displayed here is for the user to see but the data will not go anywhere -->
      <textarea id="search_student"></textarea>
      <!-- This is the hidden textfield that will be given the Student ID based on who is selected. This value will be sent as a parameter -->
      <input id="link_origin_id" name="link[origin_id]" type="hidden"/>
    </p>
    <p>
      <%= f.submit 'Submit' %>
    </p>
  <% end %>
</div>