<h1 id = "headline news">Add a new student</h1>
<%= form_for(@student) do |f| %>
  <ul>
  <% @student.errors.full_messages.each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
    
  </p>
  <p>
    <%= f.label :birthday %><br />
    <%= f.text_field :birthday %>
  <p>
    <%= f.submit %>
  </p>
<% end %>
